                                addhost.html
<!doctype html>
<body>
<style>
body {
  background-color: black;
  text-align: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
</style>
</head>
<body>

<h1>Add Host</h1>
<form action = "/addhost" method="post">
     <p>Enter Host Name: <input type="text" name="hostname"></p>
     <p>Enter Host IP:   <input type="text" name="ip"></p>
     <p>Enter Host FQDN: <input type="text" name="fqdn"></p>
    <p><input type="submit" value="Add Hosts"></p>
</form>
</body>
</html>                                                                     
~                               
