<!doctype html>
<html>
   <body>
      <table border = 1>
         <thead>
            <td>Name</td>
            <td>Alias</td>
            <td>House</td>
            <td>URL</td>
         </thead>
         
         {% for row in rows %}
            <tr>
               <td>{{ row["name"] }}</td>
               <td>{{ row["alias"] }}</td>
               <td>{{ row["allegiances"] }}</td>
               <td>{{ row["url"] }}</td>	
            </tr>
         {% endfor %}
      </table>
      
      <a href = "/"><button>Go back to home page</button></a>
   </body>
</html>
